.layout{
    border: 1px solid red;
    height: 100vh;
    .header{
        width: 100%;
        height: 50px;
        border: 1px solid rgb(0, 255, 140);
    }
    .menu-container{
        width: 100%;
        height: calc(100% - 50px);
        display: flex;
        flex-direction: row;
        div:nth-child(1){
            border: 1px solid blue;
            flex: 0.2;
            height: 100%;
            @include respond(mobile) {
                    flex: 0.3;
            }
        }
        div:nth-child(2){
            flex: 0.8;
            border: 1px solid rgb(170, 0, 255);
            i{
                color: red;
            }
            @media (max-width: 786px) {
                width: 100%;
                height: calc(100%);
                flex: none; // Remove flex property for proper layout
                align-self: flex-end; // Correct alignment
            }
        }
    }
}

.sidebar{
   font-size: 1rem;
   @media (max-width:786px) {
   position: absolute;
   top: 0;
   }
}