// Light Theme Variables (Default)
$primary-color: #e2e2e2;
$secondary-color: #d6d6d6;
$background-color: #c2c2c2;
$text-color: #131313;

// Dark Theme Variables
$dark-primary-color: #2b2b2b;
$dark-secondary-color: #404040;
$dark-background-color: #121212;
$dark-text-color: #cbcbcb;

// Mixin to Apply Light Theme
@mixin theme-light {
  :root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --background-color: #{$background-color};
    --text-color: #{$text-color};
  }
}

// Mixin to Apply Dark Theme
@mixin theme-dark {
  [data-theme="dark"] {
    --primary-color: #{$dark-primary-color};
    --secondary-color: #{$dark-secondary-color};
    --background-color: #{$dark-background-color};
    --text-color: #{$dark-text-color};
  }
}

// Apply the themes
@include theme-light;
@include theme-dark;
