:root {
    @include theme-light;
  }
  
  .dark-theme {
    @include theme-dark;
  }

  button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover{
        background-color: var(--secondary-color);
  }